.popup__close-button {
    width: 32px;
    height: 32px;
    background-image: url(../../../images/close-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: opacity .5s;
    position: absolute;
    top: -40px;
    right: -40px;
}

.popup__close-button:hover {
    opacity: .6;
}

@media (max-width: 767px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        background-size: contain;
        top: -36px;
        right: 0;
    }
}