.page__footer {
    margin-left: 200px;
}

@media (max-width: 1080px) {
    .page__footer {
        margin-left: 150px;
    }
}

@media (max-width: 980px) {
    .page__footer {
        margin-left: 100px;
    }
}

@media (max-width: 880px) {
    .page__footer {
        margin-left: 50px;
    }
}

@media (max-width: 767px) {
    .page__footer {
        margin-left: 19px;
    }
}