.profile__profile-info {
    display: grid;
    grid-template-columns: max-content 24px;
    column-gap: 18px;
    align-items: baseline;
}

@media (max-width: 767px) {
    .profile__profile-info {
        grid-template-columns: 24px 1fr 24px;
        column-gap: 10px;
    }
}