.popup__close-button {
    --width: 32px;
    --height: 32px;
    width: var(--width);
    height: var(--height);
    background-image: url(../../../images/close-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: opacity .5s;
    position: absolute;
    top: calc(-8px - var(--height));
    right: calc(-8px - var(--width));
}

.popup__close-button:hover {
    opacity: .6;
}

@media (max-width: 767px) {
    .popup__close-button {
        --width: 20px;
        --height: 20px;
        background-size: contain;
        top: calc(-16px - var(--height));
        right: 0;
    }
}