.element__like-button {
    background-image: url(../../../images/like-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: #FFFFFF;
    min-width: 22px;
    min-height: 19px;
    padding: 0;
    cursor: pointer;
}

.element__like-button:hover {
    transition: opacity .5s;
    opacity: .5;
}